<div class="border p-3">
  <div class="row p-2 bg-blue">
    <div class="col">
      <h6>{{cost.name}}</h6>
    </div>
    <div class="col">
      <h6>Account Code</h6>
    </div>
    <div class="col text-right">
      <h6>Quoted</h6>
    </div>
    <div class="col text-right">
      <h6>Screened</h6>
    </div>
    <div class="col"></div>
  </div>
  <ng-container *ngFor="let costItem of cost.costItems">
    <mcr-cost-item [baseCurrency]="baseCurrency" [toCurrency]="toCurrency" [costItem]="costItem"
      (onChanged)="changePriceAndRecalculate($event)"></mcr-cost-item>
  </ng-container>
  <div class="row my-2">
    <div class="col py-2">
      Total
    </div>
    <div class="col"> </div>
    <div class="col text-right">
      <mcr-cost-price-text [amount]="totalQuoted" [toCurrency]="toCurrency" [baseCurrency]="baseCurrency">
      </mcr-cost-price-text>
    </div>
    <div class="col text-right">
      <mcr-cost-price-text [amount]="totalScreened" [toCurrency]="toCurrency" [baseCurrency]="baseCurrency">
      </mcr-cost-price-text>
    </div>
    <div class="col"> </div>
  </div>
</div>
