<div class="col">
  <div class="row" *ngFor="let cmt of comments">
    <div class="col-1">
      <span class="badge badge-pill"
        [ngClass]="{'btn-light':cmt.type == 'Internal', 'btn-dark':cmt.type ==='External'}">{{cmt.type}}</span>
    </div>
    <div class="col">
      <p>
        {{cmt.comment}}
      </p>
    </div>
    <div class="col text-right">
      <span class="p-2"> {{cmt.author}}</span>
      <span class="p-2"> {{cmt.date | date:'d MMM yyyy HH:mm'}}
      </span>
      <span class="p-2"><i class="bi bi-pencil-fill p-1"></i> <i class="bi bi-trash p-1"></i></span>
    </div>
  </div>

</div>
<div class="w-100 px-3">
  <hr />
</div>
<div class="col">
  <div class="row">
    <div class="col-3">
      <select class="custom-select">
        <option>Select comment type</option>
      </select>
    </div>
    <div class="col">
      <input type="text" class="form-control" disabled>
    </div>
    <div class="col-1">
      <button class="btn btn-secondary btn-block" disabled>Add</button>
    </div>
  </div>
</div>
