<div class="row p-2">
  <div class="col"><small>{{costItem.name}}</small> </div>
  <div class="col"><small>{{costItem.costItemAlias.accountingCode}}</small></div>

  <div class="col text-right">
    <mcr-cost-price-text [amount]="quoted.amount" [toCurrency]="toCurrency" [baseCurrency]="baseCurrency">
    </mcr-cost-price-text>
  </div>

  <div class="col text-right">
    <mcr-cost-price-input [(ngModel)]="screened.amount" [toCurrency]="toCurrency" [baseCurrency]="baseCurrency"
      (change)="priceChanged($event)">
    </mcr-cost-price-input>
  </div>

  <div class="col text-center">
    <a (click)="collapse.toggle()"><i class="bi bi-chat-left"></i> {{ costItem.comments?.length || "0"}} </a> <i
      class="bi bi-arrows-move"></i>
  </div>
</div>
<div class="row py-3 bg-alternative" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <mcr-cost-comments class="col" [comments]="costItem.comments"></mcr-cost-comments>
</div>
