<div class="d-flex justify-content-between aling-items-center p-2">
  <h4>Costs</h4>
  <div class="d-flex justify-content-end align-items-center">
    <mcr-currency-dropdown [paymentCurrencies]="exchangeRate.paymentCurrencies"
      [selected]="voyageDetail.daCurrency.currency" (selectionChanged)="changeCalculationRate($event)">
    </mcr-currency-dropdown>
    <mcr-base-currency-rate-text [baseCurrency]="voyageDetail.baseCurrency" [daCurrency]="voyageDetail.daCurrency">
    </mcr-base-currency-rate-text>
  </div>
</div>
<mcr-cost-group [cost]="costItem" [baseCurrency]="voyageDetail.baseCurrency" [toCurrency]="toCurrency"
  *ngFor="let costItem of voyageDetail.costs">
</mcr-cost-group>
